html {
    font-family: sans-serif;
}

html > body {
    background: #666666;
    color: #e0e0e0;
}

html > body > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html > body > p {
    color: #000000;
    font-size: 24px;
    padding: 16px 16px 0px 16px;
}

html > body > ul{
    background: #2c2c2c;
    list-style-type: none;
    overflow: hidden;
}

html > body > div > h1 {
    font-size: 64px;
    height: 60px;
    padding: 120px 10px;
    text-align: center;
}

html > body > div > h1#phonePictureAbout{
    height: 280px;
}

html > body > div > h1#phonePictureContact{
    height: 300px;
}

html > body > div.picBackdrop{
    background-position: center;
    background-size: cover;
}

html > body > div.picBackdrop#bg1{
    background-image: url("../images/bg1.jpg");
}

html > body > div.picBackdrop#contactBackdrop{
    background-image: url("../images/Sunset\ In\ Gazebo\ 2.jpg");
}

html > body > div.picBackdrop#aboutBackdrop{
    background-image: url("../images/Me\ Hugging\ Dolphin.JPG");
}

html > body > ul > li {
    float: right;
}

html > body > ul > li > a {
    color: #e0e0e0;
    display: block;
    font-size: 24px;
    padding: 14px 16px;
    text-decoration: none;
}

html > body > ul > li a.active {
    background: #0f465c
}

html > body > footer {
    background: #2c2c2c;
}

html > body > footer > p > a {
    color: #98bbc9;
}

html > body > footer > p#footText {
    font-size: 16px;
    padding: 20px;
    text-align: center;
}